
/* Make the calendar grid cells more visually appealing */
.fc-theme-bootstrap .fc-daygrid-day-frame {
    border-radius: 4px; 
    padding: 10px; 
    transition: background-color 0.3s ease; 
    border: 2px solid #E6E6FA;
}

.modal-enter {
    opacity: 0 !important;
    transform: scale(0.9) !important;
    display: block !important;
}

.modal-enter-active {
    opacity: 1 !important;
    transform: scale(1) !important;
    transition: opacity 1000ms ease-in, transform 1000ms ease-in-out !important; 
}

.modal-exit {
    opacity: 1 !important;
    transform: scale(1) !important;
}

.modal-exit-active {
    opacity: 0 !important;
    transform: scale(0.9) !important;
    transition: opacity 1000ms ease-in-out, transform 1000ms ease-in-out !important;
}

/* Hover effect on days */
.fc-theme-bootstrap .fc-daygrid-day:hover {
    background-color: #f0f8ff; 
}

/* Event styling */
.fc-theme-bootstrap .fc-event {
    background-color: #007bff !important; 
    border: none; 
    color: white; 
    border-radius: 4px; 
}



.fc-dayGridMonth-button, .fc-timeGridWeek-button, .fc-timeGridDay-button, .fc-prev-button, .fc-next-button, .fc-today-button {
    background-color: #98b3cd !important; 
    color: white !important;
    border-radius: 15% !important;
}

/* @media (max-width: 400px) {
    .fc-dayGridMonth-button, .fc-timeGridWeek-button, .fc-timeGridDay-button, .fc-prev-button, .fc-next-button, .fc-today-button {
        display: block !important;
        background-color: #98b3cd !important; 
        color: white !important;
        border-radius: 15% !important;
        margin: 10px 0;
    }
    
} */ 



/* .fc {
    border: 2px solid #B0B0B0; 
    border-radius: 8px; 
    padding: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 3%;
} */


.fc td, .fc th {  /* Removes the right border of the calendar */
    border-style: none !important;
}


