
.fc-theme-bootstrap .fc-daygrid-day-frame {
    border-radius: 4px; 
    padding: 5px; 
    transition: background-color 0.3s ease; 
    border: 2px solid #E6E6FA;
}

.modal.fade .modal.dialog {
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fc-theme-bootstrap .fc-daygrid-day:hover {
    background-color: #f0f8ff; 
}

.fc-theme-bootstrap .fc-event {
    background-color: #007bff !important; 
    border: none; 
    color: white; 
    border-radius: 4px; 
}

.fc td, .fc th {
    border-style: none !important;
}


