/* @import 'bootstrap/dist/css/bootstrap.min.css'; */
@import '@coreui/coreui/dist/css/coreui.min.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
  }
:root {
    --cui-sidebar-occupy-start: 15px;
    --cui-sidebar-occupy-end: 15px;
  }


  
body {
  background-color: #333333; 
  background-image: url('/assets/logo/reconnect.png');   
  height: 100vh; 
  background-size: 10rem 10rem;  
} 

.sidebar {
    width: 250px;  
    position: fixed;  
    top: 0;
    left: 0;  
    height: 100%; 
    z-index: 1000;  
}
.sidebar:hover {
  width: 250px;  
} 
 
.wrapper {
  margin-left: 60px;  
  transition: margin-left 0.3s;  
}
.sidebar:hover ~ .wrapper {
  margin-left: 250px;  
}
/* adjust head when sibebar is not visible */
@media (max-width: 986px) {
  .wrapper {
    margin-left: 0  
  }
 
} 
.footer {  
   
    background-color: #f8f9fa; 
    text-align: center;
    
}
 
.modal-active {
  position: fixed; /* Make sure the modal covers the whole screen */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(5px);  
  z-index: 1000;  
}

.modal-content {
  position: relative;  
  z-index: 1001; /* Ensure modal content is above the blur */
}


@import 'bootstrap/dist/css/bootstrap.min.css';
  