/* @import 'bootstrap/dist/css/bootstrap.min.css'; */
@import '@coreui/coreui/dist/css/coreui.min.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
  }
:root {
    --cui-sidebar-occupy-start: 15px;
    --cui-sidebar-occupy-end: 15px;
    --tooltipColor: #071689;
  }

.ccolor{
  /* background: ; */
  background-color: hsl(233, 90%, 28%) !important;
  color: hsl(0, 0%, 100%) !important;
}

.ccolor:hover{
  background-color: hsl(233, 78%, 71%) !important;
  color: hsl(0, 0%, 100%) !important;
  transition: ease-in 0.3s;
}
  
body {
  background-color: #333333; 
  background: #071689;
  /* background-image: url('/assets/logo/reconnect.png');    */
  height: 100vh; 
  background-size: 10rem 10rem;  
} 

.sidebar {
    width: 250px;  
    position: fixed;  
    top: 0;
    left: 0;  
    height: 100%; 
    z-index: 1000;  
}
.sidebar:hover {
  width: 250px;  
} 
 
.wrapper {
  margin-left: 60px;  
  transition: margin-left 0.3s;  
}
.sidebar:hover ~ .wrapper {
  margin-left: 250px;  
}
/* adjust head when sibebar is not visible */
@media (max-width: 986px) {
  .wrapper {
    margin-left: 0  
  }
 
} 
.footer {  
   
    background-color: #f8f9fa; 
    text-align: center;
    
}
 
.modal-active {
  position: fixed; /* Make sure the modal covers the whole screen */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(5px);  
  z-index: 1000;  
}

.modal-content {
  position: relative;  
  z-index: 1001; /* Ensure modal content is above the blur */
}

/* students */
.card-student {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.card-student:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

/* form slide: switch the between sign in and sign up form  */
.form-container {
  position: relative;
}

.slide-controls {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 15px;
}

.slide {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}

.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 15px;
  background: -webkit-linear-gradient(left,#003366,#004080,#0059b3
, #0073e6);
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.slide-controls input[type="radio"]{
  display: none;
}

.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 15px;
  background: -webkit-linear-gradient(left,#003366,#004080,#0059b3
, #0073e6);
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.form-inner {
  margin-top: 10px;
}

.slide-controls label.signup{
  color: #000;
}
.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 15px;
  background: -webkit-linear-gradient(left,#003366,#004080,#0059b3
, #0073e6);
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
  display: none;
}
#signup:checked ~ .slider-tab{
  left: 50%;
}
#signup:checked ~ label.signup{
  color: #fff;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login{
  color: #000;
}
#login:checked ~ label.signup{
  color: #000;
}
#login:checked ~ label.login{
  cursor: default;
  user-select: none;
}
/* form sitch: fade in affect  */
.form-content {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: relative;
}

.form-content.fade-in {
  opacity: 1;
}

.form-content.fade-out {
  opacity: 0;
}
.cmarginimg{
  margin-top:-4rem;
  /* margin-bottom: 10px; */
}

.cmarginsignin{
  margin-top: 5rem;
  margin-bottom: 10px;
}

/* tooltips */
.bg-tooltip {
  background-color: var(--tooltipColor);
}

 
 


@import 'bootstrap/dist/css/bootstrap.min.css';
  